@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-12 col-lg-6 col-md-8 container-fluid">
    <h1 class="m-1 p-1">Login</h1>
    <div>        
        <form class="container d-flex flex-column" method="post" action='@Url.Action("Authenticate", "Login")'>
            @if (ViewBag.LoginAuthenticateError != null)
            {
                <p class="text-danger">
                    @ViewBag.LoginAuthenticateError
                </p>
                
            }
            <label class="form-label" for="email">
                Email
            </label>
            <input class="form-control" id="email" name="email" />
            <label class="form-label" for="password">
                Senha
            </label>
            <input class="form-control" id="password" name="password" type="password" /><br />
            <button class="btn btn-primary m-1 p-1 px-3" type="submit">
                Entrar
            </button>

            @Html.ActionLink("Cadastro", "Login", "Login", null, new {                
                @class = "btn btn-info m-1 p-1 px-3 text-decoration-none"                
            })            
        </form>
        <h1>TESTE</h1>
    </div>
</div>